<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Chat App</h2>
  <p> you joined</p>
  <form id="chat">
    <input id="text" type="text" name="message" placeholder="Enter your message here"> 
    <button id="message">Send</button>
  </form>
  <div id="m"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script>
    document.getElementById('message').addEventListener('click',(e)=>{
      e.preventDefault();
      const m = document.getElementById('text').value;
      const token=localStorage.getItem('token')
      const obj={
        message:m,
      }
      axios.post('http://localhost:8000/user',obj,{headers:{'Authorization':token}})
      .then((response)=>{
        const div=document.getElementById('m')
        response.data.forEach(val=>{
          const mess=val.message 
          const p=document.createElement('p')
          p.textContent=mess
          div.appendChild(p)

        })
      

      })

    })
  </script>
  
</body>
</html>