<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create group</title>
</head>
<body>
  <form id="groupForm">
    <label for="groupname">Group Name</label>
    <input id="groupname" type="text" name="groupname"> 
    <button id="creategroup">Create Group</button>
    <div id="userSelection"></div> <!-- Changed to div for appending checkboxes -->
  </form>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const token = localStorage.getItem('token');
      selectUser(token);

      document.getElementById('creategroup').addEventListener('click', function (e) {
        e.preventDefault();
        const groupname = document.getElementById('groupname').value;
        const selectedUserIds = getSelectedUserIds();
        const obj = { groupname: groupname, selectedUserIds: selectedUserIds };
        axios.post('http://18.212.194.131:8000/creategroup', obj, { headers: { 'Authorization': token } })
          .then(response => {
            window.location.assign('./groupchat.html');
          })
          .catch(error => {
            console.error('Error creating group:', error);
          });
      });
    });

    function selectUser(token) {
      axios.get('http://18.212.194.131:8000/getalluserid', { headers: { 'Authorization': token } })
        .then(response => {
          const userIds = response.data;
          const userSelection = document.getElementById('userSelection');
          userSelection.innerHTML = '';
          userIds.forEach(userId => {
            const checkbox = document.createElement('input');
            checkbox.type = 'checkbox'; // Changed from radio to checkbox
            checkbox.name = 'userId'; // Set a common name for all checkboxes
            checkbox.value = userId.id;

            const label = document.createElement('label');
            label.textContent = userId.id;

            const br = document.createElement('br');

            userSelection.appendChild(checkbox);
            userSelection.appendChild(label);
            userSelection.appendChild(br);
          });
        })
        .catch(error => {
          console.error('Error fetching user IDs:', error);
        });
    }

    function getSelectedUserIds() {
      const selectedUserIds = [];
      const checkboxes = document.querySelectorAll('input[name="userId"]:checked');
      checkboxes.forEach(checkbox => {
        selectedUserIds.push(checkbox.value);
      });
      return selectedUserIds;
    }
  </script>
</body>
</html>